<html>
<head>
  <meta charset="utf-8">
  <title>App</title>
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <h3> Now... {{ data.today }} </h3>
  <p> {{ data.message }} </p>


  <script src="js/scripts.js"></script>
</body>
</html>